<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <link rel="icon" href="https://lh3.googleusercontent.com/a-/AFdZucqw-YPogCZSZha5T_rsXJwCz6mRmxfYsjeOZKk9=s96-c-rg-br100">
    <title>Fa Chattbot</title>
  </head>
  <body>
    <video
      id="background-video"
      autoplay
      loop
      muted
    >
      <source src="../static/src/background.mp4" type="video/mp4" />
    </video>
    <div id="container">
    <div class="loader ">
      <div class="loader__tile"></div>
      <div class="loader__tile"></div>
      <div class="loader__tile"></div>
      <div class="loader__tile"></div>
      <div class="loader__tile"></div>
    </div>
    <div id="sign">
      <div class="content">
        <h2 id="title" class="content-title">
          Do you have a boyfriend or girlfriend?
        </h2>
        <div class="btn">
          <button hover="No" id="yes-btn"><div>Yes</div></button>
          <button id="no-btn">No</button>
        </div>
      </div>
    </div>
    </div>
    <div id="my-popup">
      <div class="boxes">
        <div class="box">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="box">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="box">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="box">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      
    <script src="../static/js/login.js"></script>
  </body>
</html>
