<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/mobile.css" />
    <link
      rel="icon"
      href="https://lh3.googleusercontent.com/a-/AFdZucqw-YPogCZSZha5T_rsXJwCz6mRmxfYsjeOZKk9=s96-c-rg-br100"
    />
    <title>Sorry!!!</title>
  </head>
  <body>
    <div id="container">
      <h2>Unfortunately, the website is not compatible with mobile devices.</h2>
    </div>
  </body>
</html>
